<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feature Editor</title>
    <link rel="stylesheet" th:href="@{/css/feature-editor.css}">
</head>
<body>

<div class="container">
    <div class="features-panel">
        <h2>Features</h2>
        <input type="text" id="filterInput" class="filter-input" placeholder="Filter by name..." oninput="renderFeatures()">
        <button class="new-feature-button" onclick="createNewFeature()">+ New Feature</button>
        <div class="features-list" id="featuresList"></div>
    </div>

    <div class="editor">
        <div class="editor-controls">
            <button onclick="saveFeature()">Save</button>
            <button onclick="deleteFeature()">Delete</button>
            <button onclick="showErrors()">Errors</button>
            <button class="logout-button" onclick="logout()">Logout</button>
        </div>
        <div id="editor-container"></div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const features = /*[[${features}]]*/ [];
    /*]]>*/
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.min.js"></script>
<script th:src="@{/js/feature-editor.js}"></script>
</body>
</html>